@font-face{
	font-family:myFirstFont;
	src: url('DroidSerif-Regular.ttf'); /* IE9 */
}

#T10 {
	height: 2em;
	left: -0.4em;
	position: relative;
	top: -0.4em;
	width: 68px;
}
.for{
	margin: 1em 11em;
    position: relative;
    width:auto;
}


.for {
	margin: 1em 11em;
	position: relative;
	width: auto;
}
h3 {
	font-family: myFirstFont;
	line-height: 51px;
	font-weight: bold;
	color: #19292E;
	margin: -25em 2em;
	text-decoration: underline;//
	position: absolute;
}
.slide {
	float: left;
	height: 45em;
	overflow: hidden;
	width: 51em;
}
.diag {
	//border: 1px solid black;
	height: 41.8em;
	margin: 0 0.5em;
	width: 24.8em;
	float: left;
}
.h3Control{
	margin: -0.6em 2em;
}
.controlPanel {
	border: 1px solid #EDEDED;
	border-radius: 5px 5px 5px 5px;
	height: 40.3em;
	margin: 1.2em 25.5em;
	position: absolute;
	width: 22.5em;
}
.refTable{
	position: relative;
	left: 6em;
	top: 54em;
	float: none !important;
}
.link {
	color: blue;
	cursor: pointer;
	opacity: 0.8;
	float:right;
	text-decoration: blink;
}
.link:hover {
	text-decoration: underline;
	opacity: 1;
}

label {
	color: #464E52;
	float: left;
	font-family: myFirstFont;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1;
	margin: 1.5em;
}
.selectBox {
	float: left;
	margin: -2.7em 10.5em;
}
select{
	width:128px !important;
}
#Gettemp {
	float: left;
	margin: 2em 3.5em;
	position: relative;
}
.display {
	//border: 1px solid black;
	height: 1.5em;
	color: #5F9EA0;
	font-family: myFirstFont;
	font-size: 14px;
	letter-spacing: 0.03em;
	margin: 1em 1.5em;
	width: 17em;
	display: inline-block;
}
#Temperature {
	color: #5F9EA0;
	font-family: myFirstFont;
	font-size: 14px;
	height: 1.5em;
	letter-spacing: 0.03em;
	margin: -2.6em 15.5em;
	width: 7em;
	float: left;
}
.sub {
	float: left;
	height: 2em;
	margin: -3em 14em;
	width: 10em;
}
.nextLevel{
	margin: 1em 3em;
}
.Buttons {
	height: auto;
	margin: 6em 2em;
	width: auto;
}
#Static-Output {
	border: 1px solid #B2B5B6;
	height: 8.8em;
	margin: 1em 0;
	overflow: auto;
	width: 22.5em;
	float: left;
}
.text {
	display: inline-block;
	float: none;
	line-height: 2.2em;
	margin: -1em 2em 0em 2em;
	padding: 4px;
}
#Dynamic-Output {
	border: 1px solid #B2B5B6;
	height: 9.5em;
	margin: 0 0;
	overflow: scroll;
	width: 22em;
}

#noteHeader {
    border-bottom: 3px solid red;
    color: red;
    font-family: cursive;
    width: 70px;
}
